{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}  {% endblock %}</title>
    <meta name="keywords" content="{% block keywords %} Home Keywords {% endblock %}">
    <meta name="description" content="{% block description %} Home description  {% endblock %}">
    <!-- font---------------------------------------->
    <link rel="stylesheet" href="{% static 'css/vendor/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/vendor/materialdesignicons.css' %}">
    <!-- plugin-------------------------------------->
    <link rel="stylesheet" href="{% static 'css/vendor/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/vendor/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/vendor/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'css/vendor/jquery.jqZoom.css' %}">
    <!-- main-style---------------------------------->
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">

    {% block head %} {% endblock %}
</head>
<body>
{% include 'message.html' %}
{% include 'header.html' %}
{% block slider %} {% endblock %}
{% block body %} {% endblock %}
{% include 'footer.html' %}
{% block foot %} {% endblock %}
</body>
</html>