{% extends 'base.html' %}

{% block title %}  {{ setting.title }}  | صفحه ورود {% endblock %}
{% block description %} {{ setting.description }} {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}


{% block body %}

    <!-- login----------------------------------->
    <div class="main-row" style="width: auto">
        <div id="breadcrumb">
            <i class="mdi mdi-home"></i>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'home:index' %}">خانه</a></li>
                    <li class="breadcrumb-item active" aria-current="page">ورود</li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg">
                <section class="page-account-box">
                    <div class="col-lg-6 col-md-6 col-xs-12 mx-auto">
                        <div class="ds-userlogin">
                            <a href="#" class="account-box-logo">digismart</a>
                            <div class="account-box">
                                <div class="account-box-headline">
                                    <a href="{% url 'accounts:login' %}" class="login-ds active">
                                        <span class="title">ورود</span>
                                        <span class="sub-title">به دیجی اسمارت</span>
                                    </a>
                                    <a href="{% url 'accounts:user_register' %}" class="register-ds">
                                        <span class="title">ثبت نام</span>
                                        <span class="sub-title">در دیجی اسمارت</span>
                                    </a>
                                </div>
                                <div class="Login-to-account mt-4">
                                    <div class="account-box-content">
                                        <h4>ورود به حساب کاربری</h4>
                                        <form action="#" method="post" class="form-account text-right">
                                            {% csrf_token %}
                                            <form action="#" method="post" class="form-account text-right">
                                                <div class="form-account-title">
                                                    <label for="email-phone">ایمیل / نام کاربری</label>
                                                    <input type="text" class="number-email-input" id="email-phone"
                                                           name="user">
                                                </div>
                                                <div class="form-account-title">
                                                    <label for="password">رمز عبور</label>
                                                    <input type="password" class="password-input"
                                                           name="password">
                                                    <a href="#" class="account-link-password">رمز خود را فراموش کرده
                                                        ام</a>
                                                </div>
                                                <div class="form-auth-row">
                                                    <label for="#" class="ui-checkbox mt-1">
                                                        <input type="checkbox" value="1" name="login" id="remember">
                                                        <span class="ui-checkbox-check"></span>
                                                    </label>
                                                    <label for="remember" class="remember-me mr-0">مرا به خاطر
                                                        بسپار</label>
                                                </div>
                                                <div class="form-row-account">
                                                    <button type="submit" class="btn btn-primary btn-login">ورود به دیجی
                                                        اسمارت
                                                    </button>
                                                </div>
                                            </form>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- login----------------------------------->



{% endblock %}