{% extends 'base.html' %}

{% block title %}  {{ setting.title }}  | ثبت نام {% endblock %}
{% block description %} {{ setting.description }} {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}

{% block body %}

    <!-- login----------------------------------->
    <div class="main-row" style="width: auto">
        <div id="breadcrumb">
            <i class="mdi mdi-home"></i>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'home:index' %}">خانه</a></li>
                    <li class="breadcrumb-item active" aria-current="page">ثبت نام</li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg">
                <section class="page-account-box">
                    <div class="col-lg-6 col-md-6 col-xs-12 mx-auto">
                        <div class="ds-userlogin">
                            <a href="#" class="account-box-logo">digismart</a>
                            <div class="account-box">
                                <div class="account-box-headline">
                                    <a href="{% url 'accounts:login' %}" class="login-ds">
                                        <span class="title">ورود</span>
                                        <span class="sub-title">به دیجی اسمارت</span>
                                    </a>
                                    <a href="{% url 'accounts:user_register' %}" class="register-ds active">
                                        <span class="title">ثبت نام</span>
                                        <span class="sub-title">در دیجی اسمارت</span>
                                    </a>
                                </div>
                                <div class="Login-to-account mt-4">
                                    <div class="account-box-content">
                                        <h4>ثبت نام در دیجی اسمارت</h4>
                                        <form action="#" method="post" class="form-account text-right">
                                            {% csrf_token %}
                                            <div class="form-account-title">
                                                <label for="email-phone">نام کاربری</label>
                                                <input type="text" class="number-email-input" id="email-phone"
                                                       name="user_name">
                                            </div>
                                            <div class="form-account-title">
                                                <label for="email-phone">ایمیل</label>
                                                <input type="text" class="number-email-input" id="email-phone"
                                                       name="email">
                                            </div>
                                            <div class="form-account-title">
                                                <label for="email-phone">نام</label>
                                                <input type="text" class="number-email-input" id="email-phone"
                                                       name="first_name">
                                            </div>
                                            <div class="form-account-title">
                                                <label for="email-phone">نام خانوادگی</label>
                                                <input type="text" class="number-email-input" id="email-phone"
                                                       name="last_name">
                                            </div>
                                            <div class="form-account-title">
                                                <label for="password">رمز عبور</label>
                                                <input type="password" class="password-input" name="password_1">
                                            </div>
                                            <div class="form-account-title">
                                                <label for="password">تکرار رمز عبور</label>
                                                <input type="password" class="password-input" name="password_2">
                                            </div>
                                            <div class="contact-us-row contact-us-row-align-left text-left d-block pl-3" style="margin-top: 30px; margin-left: 60px;">
                                                <button class="btn btn-info js-contact-form-submit" style="border-radius: 50px; font-size: 14px;">ثبت نام</button>
                                                <button class="btn btn-info js-contact-form-submit" style="border-radius: 50px; font-size: 14px; background-color: #34a853; border-color: #34a853" type="submit">شماره تلفن</button>
                                                <button class="btn btn-info js-contact-form-submit" style="border-radius: 50px; font-size: 14px; background-color: #ea4335; border-color: #ea4335">اکانت گوگل</button>

                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- login----------------------------------->




{% endblock %}